body {
    width: 600px;
    margin: auto;
    margin-top: 10px;
    font-family: Georgia, 'Times New Roman', Times, serif;
}

#nav {
    text-align: center;
}

a {
    display: inline-block;
    color: rgb(70, 69, 69);
    margin: 10px;
}

div h1 {
    text-align: center;
}

#header {
    background-color: #cfa6ae;
    color: grey;
    padding: 5px 5px;
    font-weight: bold;
    border-radius: 5px;
    text-align: center;
    display: block;
    margin-bottom: 10px;
}

#image {
    background-image: url(katt.jpg);
    background-size: cover;
    height: 300px;
    width: 300px;
    border-radius: 50%;
    border: 1px solid black;
    border-bottom-width: 3px;
    margin: 0 auto;
}


#content {
    border-top: 1px grey solid;
    border-bottom: 1px grey solid;
    margin-top: 10px;
    margin-bottom: 10px;

}

p {
    font-family: 'Times New Roman', Times, serif;
    font-weight: 500;
}

footer {
    text-align: center;
    margin-bottom: 10px;
}