body {
    width: 600px;
    margin: auto;
    text-align: center;
}

#header {
    background-color: rgb(254, 254, 214);
    color: grey;
    padding: 5px 10px;
    font-family: helvetica;
    font-weight: bold;
}

#image {
    background-image: url(katt.jpg);
    background-size: cover;
    height: 200px;
    width: 200px;
    border-radius: 50%;
    border: 1px solid black;
    border-bottom-width: 3px;
    text-align: center;

}